*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
body{
    background-color: #fff;
}
.header{
    background-color: green;
    text-align: center;
    display: inline-flex;
    width: 100%;
    font-size: 18px;

}
.header ul{
    display: inline-flex;
    list-style-type:none;
    color: white;
}
.logo{
    margin:-10px 5px 10px 10px;
    display: block;
    text-align: center;
    color:white;
    font-size:10px;
}
.logo img{
    height: 110px;
    width: 130px;
    margin:0px 0px -20px 0px;
}
.header .btn{
    display:inline-block;
    margin: 30px 0px 30px 150px;
    text-align: center;
    color: white;
    background-color: green;
    width: 80px;
    font-size: 20px;
    border-radius: 8px;
    cursor: pointer;
}
.header .btn:hover{
    background-color: greenyellow;
    color: white;
}
.nav{
    margin-left:200px;
}
.header ul li{
    width:120px;
    margin:25px 0px 30px 20px;
    padding: 10px;
}
.header ul li a{
    text-decoration: none;
    color :white;
}
.active , .header ul li:hover{
    background-color: yellowgreen;
    border-radius: 5px;
    text-decoration: underline;
}
.header .fa{
    margin-right:7px ;
}
.sub-menu-1{
    display: none;
}
.header ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color:green;
    margin-top:15px;
    margin-left:-50px;
}
.header ul li:hover .sub-menu-1 ul{
    display: block;
    margin-right:20px;
}
.header ul li:hover .sub-menu-1 ul li{
    width: 130px;
    padding:10px;
    border-bottom:1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.header ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.header ul li:hover .sub-menu-1 ul li a:hover{
    color: greenyellow;

}
.fa-angle-right{
    float: right;
}
.sub-menu-2{
    display: none;
}
.hover-me:hover .sub-menu-2{
    position:absolute;
    display: block;
    margin-top:-40px;
    margin-left:140px;
    background-color: green;
}

.contact{
    position: relative;
    min-height: 100vh;
    padding: 5px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(img.jpg);
    background-size: cover;
    background-position: center;
    
}
.contact .content{
    max-width: 800px;
    text-align: center;
}
.contact .content h2{
    font-size: 40px;
    font-weight: bold;
    color: #f5f5f5;
    
}
.contact .content hr{
    width: 35%;
    margin: 5px 0px 10px 260px;
    color: #000;
}
.contact .content p{
    font-weight: 700;
    color: #f5f5f5
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.container .contactinfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactinfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}
.container .contactinfo .box .icon{
    min-width: 40px;
    height: 40px;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}
.container .contactinfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #f5f5f5;
    flex-direction: column;
    font-weight: 300;
}
.container .contactinfo .box .text h3{
    font-weight: 500px;
    color: #00bcd4;
}
.contactform{
    width: 40%;
    padding: 40px;
    background: #fff;
}
.contactform h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}
.contactform .inputBox{
    position: relative;
    width:100%;
    margin-top: 10px;
}
.contactform .inputBox input,
.contactform .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contactform .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    margin: 10px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}
.contactform .inputBox input:focus ~ span,
.contactform .inputBox input:valid ~span,
.contactform .inputBox textarea:focus ~ span,
.contactform .inputBox textarea:valid ~span
{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactform .inputBox input[type="submit"]{
    width: 100px;
    background: #00bcd4;
    color: #f5f5f5;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
@media (max-width: 991px){
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactinfo{
        margin-bottom: 40px;
    }
    .container .contactinfo , .contactform{
        width: 100%;
    }
}


